* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat";
}

.header {
  height: 1024px;
  background-image: url(img/Rectangle1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-bloc {
  padding-top: 216px;
}
.header-bloc_title {
  font-size: 64px;
  max-width: 760px;
  color: #ffffff;
}
.header-bloc_text {
  margin-top: 32px;
  line-height: 1.8;
  font-size: 18px;
  max-width: 480px;
  color: #ffffff;
}
.header-bloc_button {
  margin-top: 44px;
  font-family: "Montserrat";
  background: #9C0332;
  color: #ffffff;
  border-radius: 20px;
  width: 234px;
  height: 48px;
  font-size: 18px;
  transition: all 0.5s;
  border: 0;
}
.header-bloc_button:hover {
  background: #f7820d;
  color: #FFFFFF;
}

.game {
  height: 556px;
  background-image: url(img/Rectangle5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.game__container {
  position: relative;
  transition: all 0.3s;
}
.game__container:hover {
  outline: 5px solid #44D2FF;
  border-radius: 18px;
}
.game__container_item {
  width: 100%;
  border-radius: 18px;
}
.game__container_text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 24px;
  color: #FFFFFF;
}

.time {
  height: 1024px;
  background-image: url(img/Rectangle6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.time-bloc {
  padding-top: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.time-bloc__cell_title {
  font-size: 48px;
  max-width: 760px;
  color: #ffffff;
}
.time-bloc__cell_text {
  margin-top: 32px;
  line-height: 1.8;
  font-size: 18px;
  max-width: 584px;
  color: #ffffff;
}
.time-bloc__cell_button {
  margin-top: 32px;
  font-family: "Montserrat";
  background: #9C0332;
  color: #ffffff;
  border-radius: 20px;
  width: 234px;
  height: 48px;
  font-size: 18px;
  transition: all 0.5s;
  border: 0;
}
.time-bloc__cell_button:hover {
  background: #f7820d;
  color: #FFFFFF;
}

.words {
  height: 1024px;
  background-image: url(img/Rectangle7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.words-bloc {
  padding-top: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.words-bloc__cell_title {
  font-size: 48px;
  max-width: 760px;
  color: #ffffff;
}
.words-bloc__cell_text {
  margin-top: 32px;
  line-height: 1.8;
  font-size: 18px;
  max-width: 584px;
  color: #ffffff;
}
.words-bloc__cell_button {
  margin-top: 32px;
  font-family: "Montserrat";
  background: #9C0332;
  color: #ffffff;
  border-radius: 20px;
  width: 234px;
  height: 48px;
  font-size: 18px;
  transition: all 0.5s;
  border: 0;
}
.words-bloc__cell_button:hover {
  background: #f7820d;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 735px;
  }
  .header-bloc {
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-bloc_title {
    text-align: center;
    font-size: 32px;
  }
  .header-bloc_text {
    text-align: center;
    font-size: 14px;
  }
  .header-bloc_button {
    margin-top: 32px;
  }
  .game {
    height: 1221px;
    display: flex;
    flex-direction: column;
  }
  .game__container_text {
    left: 16px;
  }
  .time {
    height: 654px;
  }
  .time-bloc {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .time-bloc__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .time-bloc__cell_title {
    text-align: center;
    font-size: 32px;
  }
  .time-bloc__cell_text {
    text-align: center;
    font-size: 14px;
  }
  .time-bloc__cell_button {
    margin-top: 32px;
  }
  .time-bloc_img {
    margin-top: 64px;
    width: 100%;
  }
  .words {
    height: 654px;
  }
  .words-bloc {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .words-bloc__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .words-bloc__cell_title {
    text-align: center;
    font-size: 32px;
  }
  .words-bloc__cell_text {
    text-align: center;
    font-size: 14px;
  }
  .words-bloc__cell_button {
    margin-top: 32px;
  }
  .words-bloc_img {
    margin-top: 64px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */