@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px)
}

body {
    font-family: "Montserrat";
  }

.header {
    height: 1024px;
    background-image: url(img/Rectangle1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.header-bloc {
    padding-top: 216px;
    
    &_title {
        font-size: 64px;
        max-width: 760px;
        color: #ffffff;;
    }

    &_text {
        margin-top: 32px;
        line-height: 1.8;
        font-size: 18px;
        max-width: 480px;
        color: #ffffff;
    }

    &_button {
        margin-top: 44px;
        font-family: "Montserrat";
        background: #9C0332;
        color: #ffffff;
        border-radius: 20px;
        width: 234px;
        height: 48px;
        font-size: 18px;
        transition: all 0.5s;
        border: 0;
        &:hover {
            background: #f7820d;
            color: #FFFFFF;   
        }
    }
}

 .game {
    height: 556px;
    background-image: url(img/Rectangle5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
 }

 .game {
    &__container {
        position: relative;
        transition: all 0.3s;

        &:hover {
            outline: 5px solid #44D2FF;
            border-radius: 18px;
        }

        &_item {
            width: 100%;
            border-radius: 18px;
        }

        &_text {
            position: absolute;
            bottom: 32px;
            left: 32px;
            font-size: 24px;
            color: #FFFFFF;
        }
    }
 }

 .time {
    height: 1024px;
    background-image: url(img/Rectangle6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

 .time-bloc {
    padding-top: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__cell {

        &_title {
            font-size: 48px;
            max-width: 760px;
            color: #ffffff;;
        }
       
        &_text {
            margin-top: 32px;
            line-height: 1.8;
            font-size: 18px;
            max-width: 584px;
            color: #ffffff;
        }
    
        &_button {
            margin-top: 32px;
            font-family: "Montserrat";
            background: #9C0332;
            color: #ffffff;
            border-radius: 20px;
            width: 234px;
            height: 48px;
            font-size: 18px;
            transition: all 0.5s;
            border: 0;
            &:hover {
                background: #f7820d;
                color: #FFFFFF;   
            }
        }
    }

}

.words{
    height: 1024px;
    background-image: url(./img/Rectangle7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.words-bloc {
    padding-top: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    &__cell {

        &_title {
            font-size: 48px;
            max-width: 760px;
            color: #ffffff;;
        }
       
        &_text {
            margin-top: 32px;
            line-height: 1.8;
            font-size: 18px;
            max-width: 584px;
            color: #ffffff;
        }
    
        &_button {
            margin-top: 32px;
            font-family: "Montserrat";
            background: #9C0332;
            color: #ffffff;
            border-radius: 20px;
            width: 234px;
            height: 48px;
            font-size: 18px;
            transition: all 0.5s;
            border: 0;
            &:hover {
                background: #f7820d;
                color: #FFFFFF;   
            }
        }
    }

}

 @import 'mobile';